@import "vendor/normalize.less";

html, body {
	height: 100%;
	* {
	}
}

.loading {
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

a {
	cursor: pointer;
}

figure {
    margin: 0;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}


.editor-container {
  font-family: 'Century Schoolbook', serif;
  -webkit-font-smoothing: antialiased;
  width: 900px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 5px;
}

.editor-container .editor-controls {
  border-bottom: 1px solid #ddd;
}

.editor-container .editor-working-area {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  cursor: text;
  min-height: 40px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.TeXEditor-button {
  margin-top: 10px;
  text-align: center;
}

.TeXEditor-handle {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.editor-code-component {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Inconsolata', 'Menlo', monospace;
  font-size: 14px;
  -webkit-transition: background-color 0.2s fade-in-out;
  user-select: none;
  -webkit-user-select: none;
  border-top: 1px dotted lightgrey;
  border-bottom: 1px dotted lightgrey;
}

.editor-code-disabled {
    color: #888;
}

.editor-code-edit-panel {
  //font-family: 'Helvetica', sans-serif;
  font-family: 'Inconsolata', 'Menlo', monospace;
  font-weight: 100;
}

.editor-code-output {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;  
}


/*
.editor-code-editor {
  border: 1px solid #e1e1e1;
  display: block;
  font-family: 'Inconsolata', 'Menlo', monospace;
  font-size: 14px;
  height: 110px;
  margin: 20px auto 10px;
  outline: none;
  padding: 14px;
  resize: none;
  -webkit-box-sizing: border-box;
  width: 100%;
}
*/

.TeXEditor-buttons {
  text-align: center;
}

.TeXEditor-saveButton,
.TeXEditor-removeButton {
  background-color: #fff;
  border: 1px solid #0a0;
  cursor: pointer;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 10px auto;
  padding: 6px;
  -webkit-border-radius: 3px;
  width: 100px;
}

.TeXEditor-removeButton {
  border-color: red;
  margin-left: 8px;
}

.TeXEditor-invalidButton {
  background-color: #eee;
  border-color: #a00;
  color: #666;
}

.two-cols {
  border: 1px solid grey;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}